<div class="admin">
  <h2>Yönlendirme Paneli</h2>
  <p>Diğer Sayfalara Erişmek İçin Aşağıdan Tıklayınız</p>
  <ul>
    <li>
      <button mat-button routerLink="/admin/haber" style="background-color: #1ccdd6; width:100%; font-size: 18px; color:white">Haberler</button>
    </li>
    &nbsp; &nbsp; &nbsp;
    <li>
      <button mat-button routerLink="/admin/kategori" style="background-color: #1ccdd6; width:100%; font-size: 18px; color:white">Kategoriler</button>
    </li>
    &nbsp; &nbsp; &nbsp;
    <li>
      <button mat-button routerLink="/admin/uye" style="background-color: #1ccdd6; width:100%; font-size: 18px; color:white">Üyeler</button>
    </li>
  </ul>
</div>